<html>
    <head>
        <style>
            body {
                background-color: green;
            }
            canvas {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;

                margin: auto;
            }
        </style>
        <link rel="stylesheet" href="{{ STATIC_URL }}jswars/css/editor.css">
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/libs/jQuery.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/libs/heap.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/ArrayUtils.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/TaskQueue.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/Pathfinding.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/Network.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/AjaxNetwork.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/Keyboard.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/Mouse.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/Sprite.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/Assets.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/Renderer.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/EditorRenderer.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/Camera.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/World.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/Input.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/EditorInput.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/Editor.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/App.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/EditorApp.js"></script>
    </head>
    <body>
        <div id="content">
            <div id="canvas_land"></div>
            <div class="interface" id="interfacing">
                <div id="editor">
                    <select id="cellType">
                        <option value="Plains">Plains</option>
                        <option value="Road">Road</option>
                    </select>
                </div>
            </div>
        </div>
        <div id="userinfo" style="display: none;">
            <div id="playerId">10</div>
            <div id="wsport">{{.Port}}</div>
        </div>
    </body>
</html>
