{% load staticfiles %}
<html>
    <head>
        <style>
            body {
                background-color: green;
            }
            canvas {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;

                margin: auto;
            }
        </style>
        <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jQuery.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.cookie.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/libs/heap.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/ArrayUtils.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/Protocol.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/TaskQueue.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/Pathfinding.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/AjaxNetwork.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/Network.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/Keyboard.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/Mouse.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/Sprite.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/Assets.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/Renderer.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/GameRenderer.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/Camera.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/Input.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/GameInput.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/World.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/Game.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/App.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/GameApp.js"></script>
    </head>
    <body>
        <div id="content">
            <div id="canvas_land">
            </div>
        </div>
        <div id="gameinfo">
            <label>Your Id</label>
            <input type="text" id="enteredPlayerId" />
            <label>How many players would you like in your game?</label>
            <input type="text" id="numPlayers" />
            <input type="button" id="submitGameRequest" value="Submit" />
            <input type="button" id="quintenbutton" value="Lazy Quinten" />
            <input type="button" id="logout" value="Logout" />
        </div>
        <div id="userinfo" style="display: none;">
            <div id="playerId">10</div>
            <div id="wsport">:8888</div>
        </div>
    </body>
</html>
