{% load staticfiles %}
<html>
    <head>
        <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jQuery.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.cookie.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/AjaxNetwork.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/Site.js"></script>
    </head>
    <body>
        <div id="login_error"></div>
        <div>
            <!-- All logins are happening via javascript, but a fallback might be
            reasonable some day -->
            <form action="/", method="post" id="login">{% csrf_token %}
                {{ login_form }}
                <button type="submit" id="submitButton">Submit</button>
            </form>
        </div>
        <div>
            <form action="/" method="post" id="register">
                {{ registration_form }}
                <button type="submit" id="registerButton">Register</button>
            </form>
        </div>
    </body>
</html>
