{% load staticfiles %}
<html>
    <head>
        <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jQuery.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.cookie.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/AjaxNetwork.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/Site.js"></script>
    </head>
    <body>
        <div>
            <!-- All logins are happening via javascript, but a fallback might be
            reasonable some day -->
            <form action="/", method="post" id="login">{% csrf_token %}
                <label>Username</label>
                <input type="username" id="username" />

                <label>Password</label>
                <input type="password" id="password" />

                <button type="submit" id="submitButton">Submit</button>
            </form>
        </div>
    </body>
</html>