{% extends "interface/base.html" %}
{% load bootstrap3 %}
{% block title %}Play{% endblock %}
{% block head %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jswars/css/play.css">

        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/libs/jQuery.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/libs/jquery.cookie.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/libs/heap.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/ArrayUtils.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/Protocol.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/TaskQueue.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/Pathfinding.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/AjaxNetwork.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/Network.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/Keyboard.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/Mouse.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/Sprite.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/Assets.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/Renderer.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/GameRenderer.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/Camera.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/World.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/Input.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/GameInput.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/Game.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/App.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/GameApp.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jswars/js/Interface.js">
            
        </script>
{% endblock %}
{% block content %}
        <div id="content">
            <div id="unitSidebar_land"></div>
            <div id="canvas_land"></div>
            <div id="chatSidebar_land"></div>
        </div>

        </div>
        <div id="gameinfo">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Start Game
                        </div>
                    </div>
                    <div class="panel-body">
                        <input id="numPlayers" type="text" class="form-control" placeholder="2" required autofocus>
                        {% buttons %}
                            <button class="btn btn-primary" id="submitGameRequest">Submit</button>
                        {% endbuttons %}
                    </div>
                </div>
            </div>
        </div>
        <div>
            {% buttons %}
                <button class="btn" id="logout">Log Out</button>
            {% endbuttons %}
        </div>
        <div id="userinfo" style="display: none;">
            <div id="wsport">:8888</div>
        </div>
{% endblock %}
